@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide CWASA controls we don't need */
.bttnPlaySiGMLURL, .bttnStop, .CWASASpeed, .txtSF, .txtGloss, .spanInfo, .txtSiGMLURL {
  display: none !important;
}

.CWASAAvMenu {
  display: none !important;
}
